@{
    ViewData["Title"] = "INICIO";
}

<div class="container text-center">
    <h1 class="display-4">Bienvenido al gestor de equipos!!! :)</h1>
    <p>Creado por: <strong>Stefan Jativa</strong></p>
    <p>Fecha: 10/23/2024</p>

    <img src="~/img/gestor.jpg" alt="Imagen del equipo" />

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
